body {
  font-family: "Courier New", serif;
}

.container {
  padding-top: 42px;
}

header {
  margin: 42px 0;
  text-align: center;
}

.logo > a {
  display: block;
  margin: 0.84em auto;
  width: 110px;
  height: 110px;
  background: transparent url("/assets/images/we-are-naked.png") no-repeat scroll 0% 0%;
  text-indent: -9999px;
}

.logo > a {
  background-position: 0px -110px;
}

.logo > a:hover {
  background-position: 0px 0px;
}

.home, .posts {
  margin: 2.1em 0;
  overflow: hidden;
}

article {
  margin-bottom: 4.2em;
}

article img {
  margin-bottom: 1.05em;
  display: block;
}

footer {
  font-size: smaller;
  margin: 1.4em auto;
  padding: 10px 0;
}

footer > hr {
  margin-bottom: 21px;
}
