<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/site.css">
</head>
<body>
  <div class="container">
    <header class="eleven columns offset-by-three content">
      <h1 class="logo"><a href="/" title="E.T. phone home!">{{ site.name }}</a></h1>
      <span>We support nudity but sometimes it's nice to be decent.</span>
    </header>

    <div class="eleven columns offset-by-three content">
      {{ content }}
    </div>

    <footer class="eleven columns offset-by-three content">
      <hr>
      Clothes for Apps is your free design closet for dressing up your application to the nines.<br>
      Artworks licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.<br>
      <a href="http://appdorable.com">Appdorable</a> owns the copyright of the Clothes for Apps logo.<br>
      Website is kindly hosted by <a href="http://github.com">Github</a>. Feel free to <a href="https://github.com/francisgo/clothesforapps.com">fork</a> the code.<br>
      Say hello? <a href="mailto:hello@clothesforapps.com?subject=Hello, I am decent">hello@clothesforapps.com</a>
    </footer>
  </div>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29871936-2']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</body>
</html>
